<p><%= @article.title %></p>

 <h1><%= @article.content %> </h1>

<form method="POST" action="/articles/<%=@article.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="delete this article">
</form>
